<!DOCTYPE html>
@* DOCUMENT INFO: PAY EXTRA ATTENTION FOR NYD COMMENT *@
@inject SignInManager<ApplicationUser> signInManager

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HomeSquare</title>

    @* replace icon later *@
    <link rel="icon" href="~/lib/favicon.ico" />

    @* bootstrap *@
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />

    @* Custom Css *@
    <link rel="stylesheet" href="~/lib/css/main.css" />
    <link rel="stylesheet" href="~/lib/css/loginSignUpModal.css" />


    @RenderSection("pageSpecificCss", required: false)

    <script src="~/lib/jquery/jquery.min.js"></script>
    <style>
        nav a {
            text-decoration: none;
            color: #ffffff;
        }

            nav a:hover {
                color: #dddddd;
            }

        .nav-ribbon:hover {
            background-color: #0F6B41;
        }

        .nav-ribbon {
            padding-top: 1rem;
            padding-bottom: 1rem;
            flex: 1 1 auto;
            font-weight: bold;
        }

        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 3;
        }

        .owl-stage {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .owl-item {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            height: auto !important;
        }

        .popover-body a.form-control{
            border:0;
            box-shadow: 0;
        }
            .popover-body a.form-control:hover {
                background-color: #c5e1a5;
            }

            .popover{
                z-index:10;
                min-width:210px;
            }
    </style>
</head>
<body>

    @* Cover it in #app for VUE.JS *@
    <div id="app">

        @* Navigation bar start*@
        <header>

            @* Desktop navigation *@
            <div style="z-index:10" class="navigation sticky container-fluid px-0 d-none d-lg-block">
                <div class="d-none d-md-flex align-items-center justify-content-between p-3 px-md-4  bg-body border-bottom shadow-sm">
                    @* Home link for logo *@
                    <a asp-controller="Home" asp-action="index" class="col-md-4 col-12">
                        <img class="img-fluid col-md-6" src="~/lib/images/appLogo.svg" asp-append-version="true" alt="HomeSquare Logo" />
                    </a>

                    <div class="col-md-4 col-12">
                        @* NYD GET DATA AND PASS TO CONTROLLER AJAX? *@
                        <partial name="_SearchBarPartial" />
                    </div>

                    <div class="col-md-4">
                        <div class="container">
                            <div class="d-flex justify-content-md-end justify-content-between">
                                @* The modal responsible for the login would be in partial view referenced on the bottom of page *@
                                @if (signInManager.IsSignedIn(User))
                                {
                                    //Replace This later with link to profile page
                                    @*<form asp-controller="Account" asp-action="Logout" method="post"></form>*@
                                    <button id="myAccountPopover" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-html="true" class="btn btn-outline-success rounded-pill me-2">
                                        My Account
                                    </button>

                                }
                                else
                                {
                                    <button data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn-outline-success rounded-pill me-2">Log in / Sign Up</button>
                                }
                                @* NYD change cart to items count *@
                                <a href="#" data-bs-toggle="modal" data-bs-target="#cartModal" class="btn btn-outline-dark rounded-pill">
                                    <svg class="bi" width="16" height="24" fill="currentColor">
                                        <use xlink:href="/lib/images/bootstrap-icons-1.4.0/bootstrap-icons.svg#cart" />
                                    </svg>
                                    <span>View Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="bg-success d-flex align-content-stretch align-items-center justify-content-around text-center" style="z-index:9">
                    <a asp-controller="Home" asp-action="Index" class="nav-ribbon">Home</a>
                    <a asp-controller="Product" asp-action="Index" class="nav-ribbon">Products</a>
                    
                    <a asp-controller="Recipe" asp-action="Index" class="nav-ribbon">Recipes</a>
                    <a class="nav-ribbon" href="#">Our Stores</a>
                </nav>
            </div>
            @* Desktop Navbar end *@

            @* Mobile Navbar start *@
            <div id="mobileNav" class="navigation sticky d-lg-none d-block navbar pb-0 shadow-sm bg-white" style="padding-top:0">
                <div id="mobileLogoBarNav" class="pb-3 container-fluid text-center d-flex flex-row justify-content-center">
                    <a asp-controller="Home" asp-action="index" class="pt-3 col-9">
                        <img class="img-fluid" src="~/lib/images/appLogo.svg" asp-append-version="true" alt="HomeSquare Logo" />
                    </a>
                </div>

                <div id="mobileNavBar" class="container-fluid px-0" style="background-color: #0F6B41">
                    <div class="col-auto">
                        <button type="button" class="btn rounded-0" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                            <svg class="bi text-white" width="36" height="54">
                                <use xlink:href="/lib/images/bootstrap-icons-1.4.0/bootstrap-icons.svg#list" />
                            </svg>
                        </button>
                    </div>
                    <div class="col-9 d-flex flex-row justify-content-end">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <button data-bs-toggle="popover" data-bs-placement="bottom" data-bs-html="true" class="btn btn-light rounded-pill me-2">
                                <svg class="bi" width="24" height="36" fill="currentColor">
                                    <use xlink:href="/lib/images/bootstrap-icons-1.4.0/bootstrap-icons.svg#person" />
                                </svg>
                                <span>
                                    My Account
                                </span>
                            </button>
                        }
                        else
                        {
                            <button data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn-light rounded-pill me-2">
                                <svg class="bi" width="24" height="36" fill="currentColor">
                                    <use xlink:href="/lib/images/bootstrap-icons-1.4.0/bootstrap-icons.svg#person" />
                                </svg>
                                <span>Login</span>
                            </button>
                        }
                        @* NYD NEED TO READ PASS DATA TO UPDATE ITEM COUNT *@
                        <a href="#" data-bs-toggle="modal" data-bs-target="#cartModal" class="btn btn-light rounded-pill me-2">
                            <svg class="bi" width="24" height="36" fill="currentColor">
                                <use xlink:href="/lib/images/bootstrap-icons-1.4.0/bootstrap-icons.svg#cart" />
                            </svg>
                            <span>0</span>
                        </a>
                    </div>
                </div>
                <div class="mt-3 collapse navbar-collapse" id="navbarsExampleDefault">
                    <div class="container-fluid">
                        @*NYD SEARCH BOX NEED TO READ DATA FROM CONTROLLER AJAX FNC? *@
                        <partial name="_SearchBarPartial" />

                        @*NYD REPLACE WITH ACTUAL LINK TO VIEW *@
                        <a asp-controller="Home" asp-action="Index">
                            <div class="d-flex p-2 pb-3 bg-white border-bottom border-secondary">Home</div>
                        </a>
                        <a asp-controller="Product" asp-action="Index">
                            <div class="d-flex p-2 pb-3 bg-white border-bottom border-secondary">Products</div>
                        </a>
                        
                        <a asp-controller="Recipe" asp-action="Index">
                            <div class="d-flex p-2 py-3 bg-white border-bottom border-secondary">Recipes</div>
                        </a>
                        <a href="#">
                            <div class="d-flex p-2 py-3 bg-white ">Our Stores</div>
                        </a>
                    </div>
                </div>

                <nav id="mobileNavBarExtension">
                    @if (ViewBag.NavbarExtension)
                    {
                        <button class="btn btn-light bg-white border rounded-circle m-2" id="menu-toggle">
                            <svg class="bi" width="16" height="24" fill="currentColor">
                                <use xlink:href="/lib/images/bootstrap-icons-1.4.0/bootstrap-icons.svg#chevron-right" />
                            </svg>
                        </button>
                    }
                </nav>
            </div>
            @* mobile nav end *@


        </header>

        <main id="elementMain">
            @RenderBody()
        </main>


        <!-- FOOTER -->
        <footer class="container-fluid px-0 text-dark bg-light">
            <div class="container d-md-flex flex-row pt-5 pb-3">
                <div class="col-md-4 footer-right-separator">
                    <div class="container">
                        <div class="mx-3">
                            <span class="h6 fw-bold">Products</span>
                            <hr />
                            <ul class="px-0">
                                
                                <li>
                                    <a asp-controller="Product" asp-action="Index">Shop</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 footer-right-separator">
                    <div class="container">
                        <div class="mx-3">
                            <span class="h6 fw-bold">Quick Links</span>
                            <hr />
                            <ul class="px-0">
                                <li class="text-decoration-none">
                                    <a asp-controller="Recipe" asp-action="Index">Recipes</a>
                                </li>
                                <li>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Login / Sign up</a>
                                </li>
                            </ul>
                            <hr />
                            <div>
                                <a href="https://www.facebook.com/" class="btn btn-dark rounded-circle">
                                    <svg class="bi" width="16" height="24" fill="currentColor">
                                        <use xlink:href="/lib/images/bootstrap-icons-1.4.0/bootstrap-icons.svg#facebook" />
                                    </svg>
                                </a>
                                <a href="https://twitter.com/" class="btn btn-dark rounded-circle">
                                    <svg class="bi" width="16" height="24" fill="currentColor">
                                        <use xlink:href="/lib/images/bootstrap-icons-1.4.0/bootstrap-icons.svg#twitter" />
                                    </svg>
                                </a>
                                <a href="https://www.instagram.com/" class="btn btn-dark rounded-circle">
                                    <svg class="bi" width="16" height="24" fill="currentColor">
                                        <use xlink:href="/lib/images/bootstrap-icons-1.4.0/bootstrap-icons.svg#instagram" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="col-md-3">
                    <div class="container">
                        <div class="mx-3">
                            <span class="h6 fw-bold">Contact</span>
                            <hr />
                            <ul class="px-0">
                                <li class="text-decoration-none">
                                    <a asp-controller="Contact" asp-action="Index">Message Us</a>
                                </li>
                                <li>
                                    <a href="#">Partnership</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <hr />
                <div class="text-center"><img class="img-fluid col-md-2 col-4" src="~/lib/images/appLogo.svg" asp-append-version="true" /></div>
                <hr />
            </div>
            <div class="container pb-3">
                <small>Copyright &copy; 2021 Home Square. All right reserved.</small>
            </div>
        </footer>
    </div>

    <!-- Signup and Login Modal -->
    <partial name="_ModalLoginSignUpPartial" />
    <partial name="_ModalCartPartial" />

    @if (TempData["OpenLogin"] != null)
    {
        <script>
            
            $(document).ready(function () {
                $('#loginModal').modal('show')
            });
        </script>
    }

    @if (signInManager.IsSignedIn(User))
    {
<div id="popoverTemplate" class="hide" hidden>
    <h5 class="border-bottom border-1 pb-2">@User.Identity.Name</h5>
    <div>
        <a asp-action="Index" asp-controller="Manage" asp-route-pageName="AccountInformation" class="form-control border-0 rounded-0 text-success">My Details</a>
    </div>
    @* Found a bug here, if there is no separator link it wont work for the next link *@
    <a asp-action="Index" asp-controller="Home"></a>
    <div>
        <a asp-action="Index" asp-controller="Manage" asp-route-pageName="MyOrders" class="form-control border-0 rounded-0 text-success">My Orders</a>
    </div>
    <a asp-action="Index" asp-controller="Home"></a>
    <div>
        <a asp-action="Index" asp-controller="Manage" asp-route-pageName="MyRewards" class="form-control border-0 rounded-0 text-success">My Rewards</a>
    </div>
    <a asp-action="Index" asp-controller="Home"></a>
    <div>
        <a asp-action="Logout" asp-controller="Account" class="form-control border-0 rounded-0 text-success fw-bold">
            Log Out
        </a>
    </div>
</div>
    }

    @* MODIFIED JQUERY VALIDATE START *@
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>

    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/OwlCarousel2/owl.carousel.js"></script>
    <script src="~/lib/js/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                searchCategories: "Products",
            },
            methods: {
                updateSearchCategories: function (event) {
                    this.searchCategories = event.target.value;
                },
            },
        })
    </script>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: false)
    }

    @* Script for sticky nav bar on mobile and desktop, initialize sticky *@
    <script>


        window.addEventListener("scroll", function () {
            var mobileNav = document.getElementById("mobileNav");
            var mobileLogoBarNav = document.getElementById("mobileLogoBarNav");
            var mobileNavBarExtension = document.getElementById("mobileNavBarExtension");

            if (window.scrollY > mobileNav.offsetHeight) {
                mobileNav.classList.add("pt-0");
                mobileLogoBarNav.classList.add("d-none");

            } else {
                mobileLogoBarNav.classList.remove("d-none");
                mobileNav.classList.remove("pt-0");
                //add this to prevent bug when changing view on mobile from portrait to landscape and etc
                var navBarDesktopHeight = document.getElementsByClassName("sticky")[0].offsetHeight;
                var navBarMobileHeight = document.getElementById('mobileNavBar').offsetHeight;
                document.getElementById("elementMain").style.marginTop = `${navBarDesktopHeight + navBarMobileHeight + mobileLogoBarNav.offsetHeight + mobileNavBarExtension.offsetHeight}px`;
            }
        })
        //**************************
        document.addEventListener("DOMContentLoaded", function (event) {
            var navBarDesktopHeight = document.getElementsByClassName("sticky")[0].offsetHeight;

            var navBarMobileBrandHeight = document.getElementById('mobileLogoBarNav').offsetHeight;
            var navBarMobileHeight = document.getElementById('mobileNavBar').offsetHeight;
            var mobileNavBarExtension = document.getElementById("mobileNavBarExtension");
            document.getElementById("elementMain").style.marginTop = `${navBarDesktopHeight + navBarMobileHeight + navBarMobileBrandHeight + mobileNavBarExtension.offsetHeight}px`;
        });

        $(window).resize(function () {
            var navBarDesktopHeight = document.getElementsByClassName("sticky")[0].offsetHeight;

            var navBarMobileBrandHeight = document.getElementById('mobileLogoBarNav').offsetHeight;
            var navBarMobileHeight = document.getElementById('mobileNavBar').offsetHeight;
            var mobileNavBarExtension = document.getElementById("mobileNavBarExtension");
            document.getElementById("elementMain").style.marginTop = `${navBarDesktopHeight + navBarMobileHeight + navBarMobileBrandHeight + mobileNavBarExtension.offsetHeight}px`;
        });

        //Initialize Popover bootstrap
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        //console.log(popoverTriggerList)
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl, {
                html: true,
                content: function () {
                    return $("#popoverTemplate").html();
                }
            })
        })
            //var myAccountEl = document.getElementById('myAccountPopover')
            //var popover = new bootstrap.Popover(myAccountEl,
            //    {
            //    html: true,
            //    content: function () {
            //        return $("#popoverTemplate").html();
            //    }
            //})
    </script>
</body>
</html>
