@model IEnumerable<HomeSquareApp.Models.OrderDetails>

@{ 
    double totalInCart = 0;
}


<div class="d-flex">
    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th scope="col" class="text-muted">Qty</th>
                <th scope="col" class="text-muted">Product</th>
                <th scope="col" class="text-muted">Price</th>
            </tr>
        </thead>

        <tbody>
            @* NYD LOOP BASED ON MODEL *@

            @*<tr>
            <td class="text-muted text-nowrap">100 X</td>
            <td>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</td>
            <td class="text-nowrap"><small>$</small> 1000 <small>00</small></td>
        </tr>*@
            @foreach (OrderDetails orderDetails in Model)
            {
                string price = string.Format("{0:F2}", orderDetails.TotalPrice);
                string[] priceBase = price.Split('.');
                totalInCart += orderDetails.TotalPrice;
                <tr>
                    <td class="text-muted text-nowrap">@orderDetails.Quantity X</td>
                    <td>@orderDetails.Product.ProductName</td>
                    <td class="text-nowrap"><small>$</small> @priceBase[0] <small>@priceBase[1]</small></td>
                </tr>
            }
            @{ 
                string priceTotal = string.Format("{0:F2}", totalInCart);
                string[] priceTotalBase = priceTotal.Split('.');
            }
            <tr class="fw-bold border-top">
                <td class="text-muted text-nowrap"></td>
                <td class="text-muted">Total</td>
                <td class="text-nowrap"><small>$</small> @priceTotalBase[0] <small>@priceTotalBase[1]</small></td>
            </tr>
        </tbody>
    </table>
</div>
